
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

#root {
  margin: 20px 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

li {
  margin-left: 30px;
}

.header-garage h1 {
  margin: 0.5rem;
}
.car h2 {
  font-size: clamp(0.8rem, 1.1rem + 1vw, 1.2rem)
}
.header-garage {
  background-color: hsl(120, 3%, 76%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  line-height: 5rem;
  border-radius: 45% 4px 4px 4px;
  margin-bottom: 1rem;
}



.btnInfo {
  height: 40px;
  width: 90px;
  line-height: 1rem;
  font-weight: 700;
  border-radius: 40%;
  border: none;
  margin: 0.5rem;
}

.btnInfo:hover {
  transform: scale(1.1);

}

#garage>div {
  width: 48%;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 1.5rem;

}

#garage {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center
}

.containerCar {
  background-color: beige;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: clamp(0.8rem, 0.1rem + 1vw, 1.2rem)
}

.car {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .4);
  flex-wrap: wrap;
}

.car-img-container{
  height: 12vh;
  width: 8vw;
}

img {
  width: 100%;
  height: 90%;
  border-radius: 30% 10% 50%;
  box-shadow: 5px 10px 10px -5px rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
}
