*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
h1,h2{
  padding: 8px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
body{
  font-size: 80%;
  margin: 0 10px;
}
#root{
  height: 100vh; 
}
main{
  height: 80vh;
}

header {
  height: 10vh;
  background-color: rgb(228, 196, 149);
  display: flex;
  align-items: center;
  
}

header img{
  height: 90%;
}

.redes-sociais {
  display: flex;
  gap: 20px;
  padding: 10px;
}
.copy-write{
  padding: 10px;
}

footer{
  height: 10vh;
  background-color: rgb(228, 196, 149);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
